@model ArcFlashCalculator.Models.ViewModels
@{
    Layout = "~/Views/Shared/_AdminNavbarPartial.cshtml";
}
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" id="form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label for="email" class="control-label mb-2">Email</label>
                <input id="email" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label for="currpass" class="control-label mb-2">Current Password</label>
                <input id="currpass" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label for="newpass" class="control-label mb-2">New Password</label>
                <input id="newpass" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label for="confirmpass" class="control-label mb-2">Confirm Password</label>
                <input id="confirmpass" type="password" class="form-control mb-4" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<style>
    #form .mb-2 {
        margin-bottom: .75rem;
    }

    #form .mb-4 {
        margin-bottom: 1.5rem;
    }

    #email {
        margin-bottom: .1rem;
    }
</style>