@using MVCGrid.Web
@using ArcFlashCalculator.Models
@{
    ViewBag.Title = "DC Input History";
    Layout = "~/Views/Shared/_AdminNavbarPartial.cshtml";
}
<div class="center-block">
    <h2>DC Input History</h2>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
    {
        MVCGridName = "UserInputsDC",
        PageSize = true,
        ColumnVisibility = true,
        Export = true,
        GlobalSearch = true
    })
         @Html.MVCGrid("UserInputsDC")
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#selPageSize').change(function () {
            MVCGrid.setPageSize('UserInputsDC', $('#selPageSize').val());
        });
        // set value of dropdown to grid setting
        $('#selPageSize').val(MVCGrid.getPageSize('UserInputsDC'));
    });
</script>
