@model IEnumerable<UserInputs60Hz>
@using ArcFlashCalculator.Models
@using MVCGrid.Web
@{
    ViewBag.Title = "Report60Hz";
    Layout = "~/Views/Shared/_AdminNavbarPartial.cshtml";
}


<div class="center-block">
    <h2>60Hz Input History</h2>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
   {
       MVCGridName = "UserInputs60Hz",
       PageSize = true,
       ColumnVisibility = true,
       Export = true,
       GlobalSearch = true
   })
        @Html.MVCGrid("UserInputs60Hz")
    </div>
</div>
@Html.ActionLink("Return to Reports Home", "ReportHome", "Admin", new { @class = "btn btn-primary" }, null)
    
